<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DIGITAL NATURALIST</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="icon" type="image/x-icon" href="icon.png">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">

</head>


<body class="leading-normal tracking-normal text-gray-900" style="font-family: 'Source Sans Pro', sans-serif;">

	<div class="h-screen pb-14 bg-right bg-cover">
		<!--Nav-->
		<div class="w-full container mx-auto p-6">


		</div>

		<!--Main-->
		<div class="container pt-24 md:pt-48 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">

			<!--Left Col-->
			<div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
				<h1
					class="my-4 text-3xl md:text-5xl text-green-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1" style="color: #89a9d8">
					Pangolin</h1>
				<p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle" style="color: white">
					Commonly found in : Africa, Thailand, India</p>

				<p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in" style="color: white">Pangolins have large, protective keratin scales, similar in material to fingernails and toenails, covering their skin; they are the only known mammals with this feature. They live in hollow trees or burrows, depending on the species. Pangolins are nocturnal, and their diet consists of mainly ants and termites, which they capture using their long tongues. They tend to be solitary animals, meeting only to mate and produce a litter of one to three offspring, which they raise for about two years. The physical appearance of a pangolin is marked by large, hardened, overlapping, plate-like scales, which are soft on newborn pangolins, but harden as the animal matures.<br>
					<!DOCTYPE html>
				</p>
				<p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in" style="color: #89a9d8"><a href="https://en.wikipedia.org/wiki/Pangolin">Click here for more info</a><br>
					<!DOCTYPE html>
				</p>



			</div>

			<!---->

			<div class="w-full xl:w-3/5 py-6 overflow-y-hidden">
				<img class="w-5/6 mx-auto lg:mr-0 slide-in-bottom" src="static/pang.jpg">
			</div>



			<!--Footer-->


		</div>


	</div>


</body>

</html>