<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DIGITAL NATURALIST</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="icon" type="image/x-icon" href="icon.png">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">

</head>


<body class="leading-normal tracking-normal text-gray-900" style="font-family: 'Source Sans Pro', sans-serif;">

	<div class="h-screen pb-14 bg-right bg-cover">
		<!--Nav-->
		<div class="w-full container mx-auto p-6">


		</div>

		<!--Main-->
		<div class="container pt-24 md:pt-48 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">

			<!--Left Col-->
			<div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
				<h1
					class="my-4 text-3xl md:text-5xl text-green-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1" style="color: #89a9d8">
					Seneca white deer</h1>
				<p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle" style="color: white">
					Commonly found in : Romulus, New York.</p>

				<p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in" style="color: white">The Seneca white deer are a rare herd of deer living within the confines of the former Seneca Army Depot in Seneca County, New York. When the 10,600-acre (43 km2) depot was created in 1941, a 24-mile (39 km) fence was erected around its perimeter, isolating a small herd of white-tailed deer, some of which had white coats. These deer are not albino, but instead have leucism, which is an abnormal genetic condition that carries a set of recessive genes for all-white coats.However, there is still not a lot of evidence as to what caused leucism in the white-tailed deer, especially for this herd.However, researchers have noticed that because of the isolation, it causes high levels of inbreeding.With inbreeding, it leaves recessive alleles of the white-tailed population to be expressed.<br>
					<!DOCTYPE html>
				</p>
				<p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in" style="color: #89a9d8"><a href="https://en.wikipedia.org/wiki/Seneca_white_deer#:~:text=The%20Seneca%20white%20deer%20are,in%20Seneca%20County%2C%20New%20York.">Click here for more info</a><br>
					<!DOCTYPE html>
				</p>



			</div>

			<!---->

			<div class="w-full xl:w-3/5 py-6 overflow-y-hidden">
				<img class="w-5/6 mx-auto lg:mr-0 slide-in-bottom" src="static/seneca.jpg">
			</div>



			<!--Footer-->


		</div>


	</div>


</body>

</html>