<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DIGITAL NATURALIST</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="icon" type="image/x-icon" href="icon.png">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">

</head>


<body class="leading-normal tracking-normal text-gray-900" style="font-family: 'Source Sans Pro', sans-serif;">

	<div class="h-screen pb-14 bg-right bg-cover">
		<!--Nav-->
		<div class="w-full container mx-auto p-6">


		</div>

		<!--Main-->
		<div class="container pt-24 md:pt-48 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">

			<!--Left Col-->
			<div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
				<h1
					class="my-4 text-3xl md:text-5xl text-green-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1" style="color: #89a9d8">
					Spoon-billed sandpiper</h1>
				<p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle" style="color: white">
					Commonly found in : Southeast Asia, Coast of Bering sea</p>

				<p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in" style="color: white">The spoon-billed sandpiper (Calidris pygmaea) is a small wader. This bird is critically endangered, with a current population of fewer than 2500 – probably fewer than 1000 – mature individuals. The main threats to its survival are habitat loss on its breeding grounds and loss of tidal flats through its migratory and wintering range.[1] The important staging area at Saemangeum, South Korea, has already been partially reclaimed, and the remaining wetlands are under serious threat of reclamation in the near future.[5] Long-term remote sensing studies have shown that up to 65% of key spoon-billed sandpiper habitat in China, South Korea and North Korea has been destroyed by reclamation.[9][10] A 2010 study suggests that hunting in Burma by traditional bird trappers is a primary cause of the decline.[11]<br>
					<!DOCTYPE html>
				</p>
				<p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in" style="color: #89a9d8"><a href="https://en.wikipedia.org/wiki/Spoon-billed_sandpiper">Click here for more info</a><br>
					<!DOCTYPE html>
				</p>



			</div>

			<!---->

			<div class="w-full xl:w-3/5 py-6 overflow-y-hidden">
				<img class="w-5/6 mx-auto lg:mr-0 slide-in-bottom" src="static/spoon.jpg">
			</div>



			<!--Footer-->


		</div>


	</div>


</body>

</html>